<?xml version="1.0" encoding="UTF-8"?>
<!--
    Copyright (C) 2011 Talend Inc. - www.talend.com
-->
<beans xmlns="http://www.springframework.org/schema/beans"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:jaxrs="http://cxf.apache.org/jaxrs"
       xmlns:cxf="http://cxf.apache.org/core"
      xsi:schemaLocation="
         http://www.springframework.org/schema/beans 
         http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
         http://cxf.apache.org/jaxrs
         http://cxf.apache.org/schemas/jaxrs.xsd
         http://cxf.apache.org/core
         http://cxf.apache.org/schemas/core.xsd">

     <!-- CXF Logging Feature -->
     <bean id="loggingFeature" class="org.apache.cxf.feature.LoggingFeature"/>
    <!--
    <bean id="jacksonJsonProvider" class="org.codehaus.jackson.jaxrs.JacksonJsonProvider"/>
    -->
    <!--
    <bean id="jacksonJaxbJsonProvider" class="org.codehaus.jackson.jaxrs.JacksonJaxbJsonProvider" />
    -->

    <bean id="jacksonJsonProvider" class="com.fasterxml.jackson.jaxrs.json.JacksonJsonProvider" />

     <bean id="customerService" class="demo.jaxrs.server.CustomerServiceImpl"/>
    <bean id="customerHtmlFormWriter" class="demo.jaxrs.server.CustomerHtmlFormWriter"/>
    <bean id="entityNotFoundMapper" class="demo.jaxrs.server.EntityNotFoundMapper"/>
     <jaxrs:server id="customerServer" address="/info">
        <jaxrs:serviceBeans>
           <ref bean="customerService"/>
        </jaxrs:serviceBeans>
         <jaxrs:providers>
             <ref bean="jacksonJsonProvider"/>
             <ref bean="customerHtmlFormWriter"/>
             <ref bean="entityNotFoundMapper"/>
         </jaxrs:providers>
         <jaxrs:features>
             <cxf:logging/>
         </jaxrs:features>
         <!--
         <jaxrs:extensionMappings>
             <entry key="json" value="application/json"/>
             <entry key="xml" value="application/xml"/>
         </jaxrs:extensionMappings>
         -->
     </jaxrs:server> 
     

          
</beans>

